.filename {
    grid-area: name;
}

.originalUpload{
    grid-area: originalUpload;
}

.lastAccess{
    grid-area: lastAccess;
}

.allAccesses {
    /* line-height: 2.5ex; */
    /* height: 7.5ex; 2.5ex for each visible line */
    /* overflow-y:auto; */
    grid-area: allAccesses;
}

.fileData {
    /* line-height: 2.5ex;
    height: 7.5ex; 2.5ex for each visible line */
    /* overflow-y:auto; */
    grid-area: fileData;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'name originalUpload lastAccess'
      'allAccesses allAccesses allAccesses'
      'fileData fileData fileData';
    grid-gap: 1px;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 10px;
    /* width:auto */
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: small;
    /* width:auto */
  }