body{
    /* background-color: black; */
}

form {
    display: inline; 
}

.bgimg {
    background-image: url('background.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
}

.darkbgimg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('background.jpg');
    object-fit: cover;
    background-repeat: repeat;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
  }

.bg1 {
    float: left;
}
  
.bg2 {
    font-size: x-large;
    font-weight: 500;
    color: aliceblue;
}

.bg3 {
    margin-left:-10; 
    margin-right:0;
}

.title {
    font-size: xx-large;
    font-weight: 500;
    color: aliceblue;
    font-weight: bold;
}

.description{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.87);
}

.username-input{
    z-index: 200;
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /* background-color: #eee; */
    background-color: rgba(0, 0, 0, 0.5);
    padding: -20px 50px; line-height: 28px;
    color: aliceblue;
    outline-width: 0;
    outline: none;
    /* height: 20px; */
    /* padding-bottom: -20px; */
    margin: -40;
    /* position: absolute; */
    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    /* padding-top: 2%;
    width:100px;*/
    /* height: 50px;
    width: 100%; */
    /* padding: 6px 10px; */
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
     /* margin: 0; */
  /* position: absolute;  */
  /* top: 50%; */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}

.evidenceSearch {
    width: 400px;
    height: 40px;
    font-size: large;
    border-radius: 3%;
    padding-left: 10px;
}

.add-evidence {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    /* padding: 16px; */
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
}

.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 50%;
    height: 50%;
    left: 25%;
  }
  
  .popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
  }

  .special{
    position: absolute;
  }
  
  .boxy{
    box-sizing: border-box;
  }
  .more-and-less-special{
      padding-left: 170px;
    margin-right: 100px;
  }
  .rather-special{
    margin-left: 57px;
  }
  .super-special{
      font-size: medium;

      margin-left: 50px;
      color: rgb(255, 255, 255);
  }

  .gotta-get-that-background{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
  }